{% extends 'base.html' %}
{% load static %}

{% block title %} Аутентификация пользователя {% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
<div class="col-xl-4 col-lg-6 col-md-8 py-2">
  <div class="mt-5 mt-md-0 border border-default">
      <h5 class="py-3 text-center text-dark bold">
      Войти
    </h5>
    <div class="px-3 pt-3">
      <fieldset>
        <label for="id_username">Имя пользователя</label>
        {{ form.username }}
      </fieldset>
      <fieldset>
        <label for="id_password">Пароль</label>
        {{ form.password }}
      </fieldset>
      <div class="d-flex pb-3 mt-2">
        <button class="ml-auto mt-0 btn btn-md btn-rounded btn-primary cta" type="submit">
          Войти
          <i class="mi mi-ChevronRight"></i>
        </button>

        <a class="ml-auto mt-0 btn btn-rounded btn-primary" href="{% url 'register' %}">
          Регистрация
          <i class="mi mi-ChevronRight"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
