{% extends 'base.html' %}
{% load static %}

{% block title %} Регистрация пользователя {% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="col-xl-4 col-lg-6 col-md-8 py-2">
        <div class="mt-5 mt-md-0 border border-default">
            <h5 class="py-3 text-center text-dark bold">
            Регистрация пользователя
            </h5>
            <div class="px-3 pt-3">
              <fieldset>
                <label for="id_username">Имя пользователя</label>
                {{ form.username }}
              </fieldset>
              <fieldset>
                <label for="id_password1">Пароль</label>
                {{ form.password1 }}
              </fieldset>
                <fieldset>
                <label for="id_password2">Подтверждение пароля</label>
                {{ form.password2 }}
              </fieldset>
              <div class="d-flex pb-3 mt-2">
                <button class="ml-auto mt-0 btn btn-md btn-rounded btn-primary cta" type="submit">
                    Зарегистрироваться
                <i class="mi mi-ChevronRight"></i>
                </button>
                </div>
            </div>
        </div>
        {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
  </form>
{% endblock %}

