{% extends "base.html" %}
{% load static %}

{% block title %} Дэшборд {% endblock %}

{% block content %}
    Добрый день, {{ request.user }}! Вот твой список файлов:<br>
    {% for link in links %}
        <img src="{% static  "file.png" %}"/><br>
            {{ link.name }}<br>
            <a class="ml-auto mt-0 btn btn-rounded btn-primary" href="{% url 'download_file' link.file.md5 %}">Скачать</a>
            <a class="ml-auto mt-0 btn btn-rounded btn-danger" href="{% url 'delete_file' link.file.md5 %}">Удалить</a>
            <a class="ml-auto mt-0 btn btn-rounded btn-secondary" href="{% url 'public_share_link' link.file.md5 %}">Публичная ссылка для скачивания</a>

            {% if link.sharedlink %}
                <a class="ml-auto mt-0 btn btn-rounded btn-secondary" href="{% url 'delete_shared_link' link.file.md5 %}">Удалить публичную ссылку</a>
            {% endif %}
        </br>
    {% endfor %}
{% endblock %}
