{% extends "base.html" %}
{% load static %}
{% block staticfiles %}
  {{ block.super }}
  <script type="text/javascript">
    function copyToClipBoard() {
      var copyText = document.getElementById("input_shared_link");
      copyText.select();

      document.execCommand("copy");

      alert("Ссылка скопирована в буфер!");
    }
</script>
{% endblock %}
{% block title %} Поделиться ссылкой для скачивния {% endblock %}

{% block content %}
    Уникальная ссылка для скачивания файла:<br>
    <input size="100" type="text" value="{{ request.get_host }}{% url 'public_download' shared_link.url_suffix %}" id="input_shared_link">


    <button class="ml-auto mt-0 btn btn-rounded btn-primary" onclick="copyToClipBoard()">Скопировать в буфер</button>
    <a class="ml-auto mt-0 btn btn-rounded btn-primary" href="{% url 'dashboard' %}">Вернуться на главную</a>
{% endblock %}
