{% extends "base.html" %}
{% load static %}

{% block title %} Удалить файл {% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ obj.name }}<br>
    <input type="submit" value="Удалить">
    <a class="ml-auto mt-0 btn btn-rounded btn-primary" href="{% url 'dashboard' %}">
        Вернуться к списку файлов
    </a>
</form>
{% endblock %}