{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block staticfiles %}
    <!-- START HERE -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fluent-kit/css/fluent-kit.min.css' %}">

    <!-- JavaScript dependencies -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Fluent Kit JavaScript -->
    <script src="{% static 'fluent-kit/js/fluent-kit.min.js' %} "></script>

    {% endblock %}

</head>
<body>
{% block navbar %}
<nav class="navbar-expand-sm navbar">
    <a class="navbar-brand nav-item">FILESTORE</a>
    <button class="btn mi navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbar-expandable" aria-controls="navbar-expandable" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navbar submenu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-expandable">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Дэшборд</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_file' %}">Загрузить файл</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="text-{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock %}
</body>
